@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@800&display=swap');
*{
    cursor: none;

}
.cursor {
    background-color: #111;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 2px solid #F3EFE0;
    font-family: 'Shippori Mincho', serif;
    z-index: 1000;
}
.cursor .letter{
    color: #F3EFE0;
    margin-top: 1px;
    margin-left: 9px;
    font-size: 20px;
}
@media screen and (max-width: 420px) {
    *{
        cursor: default;
    }
    .cursor{
        display: none;
    }
}